body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: var(--background);
  min-height: 100vh;
  box-sizing: border-box;
  max-width: 100vw;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
