@font-face {
  font-family: 'Supria Sans Light';
  src: url('../fonts/Supria\ Sans\ Light.otf');
}

@font-face {
  font-family: 'Supria Sans Condensed Light';
  src: url('../fonts/Supria\ Sans\ Condensed\ Light.otf');
}

@font-face {
  font-family: 'Supria Sans Condensed Bold';
  src: url('../fonts/Supria\ Sans\ Condensed\ Bold.otf');
}
